body {
	width: 100vw;
	height: 100vh;
	background: #444;
	position: relative;
}

.smoke-min {
	position: absolute;
	width: 100px;
	height: 150px;
	top: 230px;
	left: 50%;
	transform: rotate(7deg);
	border: 5px solid #fff;
	cursor:pointer;
	user-select:none;
}
.smoke {
	position: absolute;
	width: 750px;
	height: 1000px;
	top: calc(50vh - 375px);
	left: calc(50vw - 375px);
	background-color: dimgray;
	border: 5px solid #fff;
	cursor:pointer;
	user-select:none;
	transition: width 2s;
	transition: height 2s;
	transition: top 2s;
	transition: height 2s;
}