	body{
		background-color:  #FCFDF8;
	}

	div{
		padding: 5px;
	}	

	header{
		width: 99%;
		margin: 2px;
		border-style: solid;
		border-width: 2px;
		border-color: #C9DEFB;
		padding: 2px;
		float: left;
	}

	.header1{
		margin-left: 18px;
		float: left;
	}
	.header2{
		
		float: right;	
	}

	main{
		width: 99%;
		margin: 2px;
		border-style: solid;
		border-width: 2px;
		border-color: #C9DEFB;
		padding: 2px;
		float: left;
		clear: left;
	}

	.main1{
		width: 500px;
		margin: 2px;
		padding: 2px;
		float: left;
	}

	.main11{
		padding-left: 18px;
		width: auto;
/*		border-bottom-style: dotted;
		border-bottom-width: 2px;
		border-bottom-color: #C9DEFB;	*/
	}

	.main11 a:link{
		display: block;
		width: 100px;
/*		border-style: solid;
		border-width: 1px 1px 0 1px;
		border-color: #373631;*/
		/*font-weight: bold;*/
		color: #000000;
		background-color: #dedede;
		/*text-align: center;*/
		padding: 4px;
		text-decoration: none;
		text-transform: uppercase;
	}

	.main11 a:visited{
		display: block;
		width: 100px;
/*		border-style: solid;
		border-width: 1px 1px 0 1px;
		border-color: #373631;*/
		/*font-weight: bold;*/
		color: #000000;
		background-color: #dedede;
		/*text-align: center;*/
		padding: 4px;
		text-decoration: none;
		text-transform: uppercase;
	}

	.main11 a:hover{
		color: #ffffff;
		background-color: #222222;
/*		border-style: solid;
		border-width: 1px;
		border-color: #C9DEFB;*/
	}	
	
	.main11 a:active{
		color: #ffffff;
		background-color: #222222;
/*		border-style: solid;
		border-width: 1px;
		border-color: #C9DEFB;*/
	}
			
	.main111{
		list-style-type:none;
		display:inline;
	}

	.main1111{
		float: left;
	}

	.main2{
		width: 120px;
		margin: 2px;
		padding: 2px;
		float: left;
		clear: left;
	}

	.main21 a:link{
		display: block;
		width: 100px;
/*		border-style: solid;
		border-width: 1px 1px 0 1px;
		border-color: #373631;*/
		/*font-weight: bold;*/
		color: #000000;
		background-color: #FCFDF8;
		/*text-align: center;*/
		padding: 4px;
		text-decoration: none;
		text-transform: uppercase;
	}

	.main21 a:visited{
		display: block;
		width: 100px;
/*		border-style: solid;
		border-width: 1px 1px 0 1px;
		border-color: #373631;*/
		/*font-weight: bold;*/
		color: #000000;
		background-color: #FCFDF8;
		/*text-align: center;*/
		padding: 4px;
		text-decoration: none;
		text-transform: uppercase;
	}

	.main21 a:hover{
		background-color: #dedede;
		border-style: solid;
		border-width: 1px;
		border-color: #C9DEFB;
	}	
	
	.main21 a:active{
		background-color: #dedede;
		border-style: solid;
		border-width: 1px;
		border-color: #C9DEFB;
	}

	.main211{
		list-style-type: none;
		width: 100px;
		margin: 10px;
		padding: 0;
		overflow: hidden;
		background-color: #dedede;
		border-style: solid;
		border-width: 1px;
		border-color: #C9DEFB;
	}	

	.main3{
		float: left;
	}

	.main4{
		width: 155px;
		height: 99%;			
		margin: 2px;
		float: right;
		padding: 2px;
		height: 100%;
	}

	.main41{
		width: auto;
		color: #555555;
	}

	.main41 img{
		width: 150px;
		height: 150px;
	}

	footer{
		width: 99%;
		margin: 2px;
		border-style: solid;
		border-width: 2px;
		border-color: #C9DEFB;
		padding: 2px;
		float: left;
		clear: left;		
	}

	.footer11{
		margin: 0px;

	}





